body {
  font-family: arial;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.change {
  font-size: 4em;
  display: flex;
  flex-direction: column;
}

.article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0px;
}

.news-item {
  display: flex;
  flex-direction: row;
  width: 60%;
  border-top: 1px solid #eee;
}
.news-item .image {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.news-item .details {
  padding: 8px;
}

.headline {
  color: #15c;
  font-weight: bold;
  font-size: 18px;
}

.source-and-date {
  font-size: 12px;
  color: gray;
}

.landing-text {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 2em;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.results {
  font-size: 2em;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search input {
  width: 40%;
  font-size: 2em;
  text-align: center;
}

.date-inputs {
  display: flex;
  justify-content: flex-end;
}
